.DivTitulo {
    background-color: white;
    padding: 10px;
}

.DivLogo {
    background-color: white;
    padding: 10px;
    float: left;
    position: absolute;
}

.TituloPrincipal {
    color: #F47920;
    text-align: center;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';
}

.DivMenu {
    background-color: #005883;
    margin: auto;
}

nav ul {
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
  
nav ul li a {
    float: left;
    padding: 20px;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';

    color: #fff;
    text-decoration: none;
  }

nav ul li a:hover {
    background-color: #F0B429;
}

h2 {
    color: #005883;
    text-align: center;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';
}

h3 {
    color: #333333;
    text-align: left;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';
    font-size: 16px;
}

.Introduccion {
    background-color: white;
    float: left;
    color: #333333;
    text-align: justify;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';
}

.Redes {
    color: #333333;
    text-align: justify;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';
}

.DivPie1 {
    float: left;
    background-color: #F47920;
    padding: 10px;
    padding-right: 140px;
    color: #fff;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';
    font-size: 15px;
}

.DivPie2 {
    background-color: #F47920;
    padding: 10px;
    padding-right: 140px;
    color: #fff;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';
    font-size: 15px;
}
    