.DivTitulo {
    background-color: white;
    padding: 10px;
}

.DivLogo {
    background-color: white;
    padding: 10px;
    float: left;
    position: absolute;
}

.TituloPrincipal {
    color: #F47920;
    text-align: center;
    font-family: 'Franklin Gothic Heavy';
}

.DivMenu {
    background-color: #005883;
    margin: auto;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav a {
    display: block;
    padding: 20px;
    background-color: #005883;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';
    font-size: px;
}

nav a:hover {
    background-color: #F0B429;
}

nav li {
    float:left;
}

nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

nav li:hover > ul {
    display:block;
    list-style: none;
}

h2 {
    color: #005883;
    text-align: center;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';
}

h3 {
    color: #F47920;
    text-align: left;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';
    font-size: 16px;
}

.Contenido {
    background-color: white;
    padding: 10px;
    position: static;
    height: 1100px;
}

.Imagen {
    width: 60%;
    display: block;
    margin: auto;
}

.Introduccion {
    position: static;
    display: inline-block;
    width: 70%;
    padding: 10px;
    height: 1000px;
    background-color: white;
    color: #808080;
    text-align: justify;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';
    font-size: 16px;
}

.Redes {
    float: right;
    width: 25%;
    padding: 10px;
    height: 1000px;
    background-color: white;
    color: #808080;
    text-align: justify;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';
    font-size: 12px;
}

.Cita {
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 12px;
}

.link{
    color: #005883;
}

.Conceptos {
    background-color: white;
    padding: 10px;
    position: static;
    display: inline-block;
    width: 70%;
    padding: 10px;
    height: 1100px;
    background-color: white;
    color: #808080;
    text-align: justify;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';
    font-size: 16px;
}

.iframe {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
    margin: 10px;
}

.DivAzul {
    background-color: #005883;
    height: 15px;
}

.Pie {
    position: static;
    background-color: #F47920;
    margin: auto;
}

.DivPie1 {
    float: left;
    background-color: #F47920;
    padding: 10px;
    padding-right: 140px;
    color: #fff;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';
    font-size: 15px;
}

.DivPie2 {
    background-color: #F47920;
    padding: 10px;
    padding-right: 140px;
    color: #fff;
    font-family: 'Franklin Gothic Book', 'Franklin Gothic Italic';
    font-size: 15px;
}
    